algo - lmax disruptor/LMAX-Protocol-Schemas-1.8-12-09-2011/heartbeat-event.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

    <include href="published-datatypes.rng"/>
    <start>
        <element name="heartbeat">
            <ref name="HeartBeatType"/>
        </element>
    </start>

    <define name="HeartBeatType">
        <element name="accountId">
            <ref name="AccountIdType"/>
        </element>
        <element name="token">
            <text/>
        </element>
    </define>
</grammar>

